.hero__wrapper {
   background-position: center;
   background-repeat: no-repeat;
   background-position: center;
   background-image: url('../img/img1.jpeg');
}
.hero {
   padding: 10rem 0;
}
@media screen and (min-width: 1024px)  {
    .hero {
        padding: 15rem 0;
    }
}
